*{
               margin: 0;
               padding: 0;
          }
          
          body{
               font-family: sans-serif;
          }
          
          .header{
               height: 60px;
               width: 100%;
               /*
               background-image: URL();
               */
               background-color: red;
               position: fixed;
          }

          .logo{
               height: 30px;
               padding: 13px;
               cursor: pointer;
          }

          .noticia{
               padding: 15px;
          }
          
          .missao{
               color: #000;
               font-size: 32px;
               margin-top: 80px;
          }

          .titulo{
               color: #000;
               font-size: 32px;
               margin-top: 60px;
          }

          .subtitulo{
               color: #B2B2B2;
               margin-top: 10px;
               margin-bottom: 25px;
          }
          
          .ler{
               width: 250px;
               height: 40px;
               border: none;
               border-radius: 3px;
               color: #fff;
               background-color: red;
               font-weight: bold;
               margin-top: 90px;
               cursor: pointer;
          }
          
          .ler:hover{
               color: red;
               background-color: #fff;
               border: 3px solid red;
               transition: 0.5s;
          }

          .ad1{
               margin-top: 30px;
               margin-bottom: 50px;
          }

          .adwere{
               width: 300px;
               height: 160px;
          }

          .ad{
               height: 100%;
               width: 100%;
               /*1600x900.jpg*/
               background: URL(../Img/mini2.jpg);
               background-size: cover;
               border: 1px solid #000;
               cursor: pointer;
          }

          footer{
               position: absolute;
               bottom: 0px;
               width: 100%;
          }

          .info-site{
               width: 100%;
               background-color: #F1F1F1;
               padding-top: 10px;
               padding-bottom: 10px;
          } 
